.main {
    width: 50rem;
    margin: 5rem auto;
}

.title {
    color: #0B1968;
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

@media only screen and (max-width: 800px) {
    .title {
        font-size: 1.5rem;
    }
    .main {
        width: 80%;
    };
}