.country-details {
    width: 50%;
    height: auto;
    margin-top: 2rem;
    padding: 1rem 0;
}

.country-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    padding: 0;
}

.country-header h2 {
    font-size: 3rem;
    margin: 0;
    text-align: right;
}

.country-details span {
    font-size: 1.4rem;
}

.country-details img {
    width: 20%;
}

@media only screen and (max-width: 600px) {
    .country-header h2 {
        font-size: 2rem;
        text-align: right;
    }
    .country-details {
        width: 100%;
    }
}